
.myclass{
    background-color:transparent;
}



.myImage{
    width: 100%;
    height: 100%;
    
}

.myTextBox{
    //background-color: black;
    padding: 10px; 
    margin-top: 0px;
    //transform: translateY(50%);
}

@media (min-height: 900px){
    .myTextBox{
        margin-top: 70px !important;
    }
}


figure {
	background:  transparent;
    overflow: hidden;
    cursor: pointer;
}




/* Zoom In #1 */
.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

h1 {
    text-align: left;
    font-weight: bolder;
    color: cornflowerblue;
}