.subNavBtn{
    //background-color: blue;
    border:1px solid rgba(122, 120, 120, 0.144);
    width: 100%;
    padding: 20px;
    cursor: pointer;
}

.subNavBtn:hover{
    background-color: #56bbed !important;
    text-shadow: 4px 4px 4px rgb(114, 128, 139);
}

#registerForm{
    text-align: center;
}

