b { /* used for event dates/times */
    margin-right: 3px;
  }
  
  .calendar {
    display: flex;
    min-height: 100%;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
  }
  
  .calendar-main {
    flex-grow: 1;
    padding: 0px;
  }
  
  .fc { /* the calendar root */
    max-width: 1100px;
    margin: 0 auto;
  }
  