<div class="container">
    <div class="main-title text-left">
        <div class="row title">
            {{club.engname}}
        </div>
        <div class="row title">
            {{club.chiname}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <div *ngIf="carouselImgSources.length > 0; else elseBlock">
                <app-carousel [imgSources]="carouselImgSources"></app-carousel>
            </div>

            <ng-template #elseBlock>
                <div class="construction text-center">
                    Content is Under Construction...
                </div>
            </ng-template>
            
        </div>

        <div class="col-sm-12 col-md-4">
            <div class="title section-title">Recent Events</div>
            <ul>
                <li *ngFor="let event of events"><a>{{event.title}}</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div *ngIf="infoChunk.imgSource.length > 0; else elsBlock">
                <app-info-chuck-reverse [title]="infoChunk.title" [article]="infoChunk.article" [imgSource]="infoChunk.imgSource"></app-info-chuck-reverse>
            </div>
            <ng-template #elsBlock>
                <app-article [title]="infoChunk.title" [article]="infoChunk.article"></app-article>
            </ng-template> 
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <div class="title section-title">Calender</div>
            <app-calendar></app-calendar>
        </div>
    </div>

</div>