$base-color: #1190da;

ul {
    padding: 0px;
}

a:hover {
    cursor: pointer;
}

li {
    margin-bottom: 3px;
    padding-bottom: 2px;
    font-size: 20px;
    list-style: none;
    font-weight: lighter;
    border-bottom: 1px dashed;
}

li > a:hover {
    color: $base-color;
}

.title {
    color: $base-color;
    padding: 20px 0px;
    margin: 10px 0px;
}

.main-title {
    font-size: 55px;
    margin: 20px 0px;
}

.section-title {
    padding-top: 0px;
    font-size: 40px;
    white-space: nowrap;
}

.col {
    padding: 40px 0px;
}

.construction {
    border: 1px dashed grey;
    color: grey;
    font-size: 100%;
    padding: 10% 0;


}

@media (max-width: 780px){
    .section-title {
        padding-top: 15px;
    }
}
