.imageSize{
    //max-height: 900px;
    height: 80vh;
    //max-height: 450px;;
    //object-fit: cover;
}
 
@media (min-width: 1900px){
    .imageSize{
        max-height: 900px !important;
    }
  }
  
  @media (max-width: 1000px){
    .imageSize{
        //min-width: 700px !important;
        //background-color: black !important;
        max-height: 450px !important;
    }
  }
  @media (max-width: 700px){
    .imageSize{
        //min-width: 700px !important;
        //background-color: red !important;
        max-height: 250px !important;
    }
  }