
<div id="carouselExampleIndicators" class="carousel slide myc" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li *ngFor="let imgSource of imgSources | slice : 1; let i = index" data-target="#carouselExampleIndicators" data-slide-to="i+1"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100 imageSize" src={{firstSlide}} alt="index 0 slide">
    </div>
    <div class="carousel-item" *ngFor="let imgSource of imgSources | slice : 1; let i = index">
      <img class="d-block w-100 imageSize" src={{imgSource}} alt="index i slide">
    </div>
    
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

