.card{
    margin-left: 5vh;
    margin-right: 5vh;
}

.insideCard{
    padding: 10px;
}

.eventBtn{
    //background-color: blue;
    border:1px solid rgba(122, 120, 120, 0.144);
    width: 100%;
    padding: 20px;
    cursor: pointer;
}

.eventBtn:hover{
    background-color: #56bbed !important;
    text-shadow: 4px 4px 4px rgb(114, 128, 139);
}

#infoCard{
    padding : 10px;
}




/* Zoom In */
.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.imgFigure{
    overflow: hidden;
    cursor: pointer;
}