<div class="container myclass">
  <div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12">
      <div class="hover01">
        <figure>
            <img class="myImage" src={{imgSource}} alt="image1">
        </figure>
      </div>
    </div>

    
    <div class="col-lg-6 col-md-12 col-sm-12">
      <div class="myTextBox">
          <h1 >{{title}}</h1>
          <!--
        <p *ngFor="let p of article.split('\n')">{{p}}</p >
          -->
        <div [innerHtml]="article"></div>
      </div>
    </div>
  </div>
</div>


