$title-color: white;

a {
    text-decoration: none;
    color: black;
}

ul {
    padding: 0px;
}

li {
    margin-bottom: 3px;
    padding-bottom: 2px;
    font-size: 20px;
    list-style: none;
    font-weight: lighter;
    border-bottom: 1px dashed;
}

li > a:hover {
    color: #1190da;
}

.title-eng, .title-chi {
    white-space: nowrap;
    padding: 0;
    margin: 0;
    color: $title-color;
    text-shadow: 2px 2px 4px #000000a6;
}

.title-eng {
    margin-top: 20px;
    font-size: 50px;
}
.title-chi {
    margin-top: 15px;
    font-size: 20px;
}

.section-title {
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: bold;
    color: #1190da;
    white-space: nowrap;
}

.page-top {
    position: relative;
}

.title {
    position: absolute;
    z-index: 10;
}

.card-button {
    margin: 8px;
    background-color: #fafafa85;
}

.component {
    margin-bottom: 25px;
}

.card-button {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.button-effect:hover {
    cursor: pointer;
	-webkit-transform: scale(1.3);
	transform: scale(1.05);
}

@media (min-width: 1900px){
    .title-eng {
        font-size: 50px;
    }
    .title-chi {
        font-size: 20px;
    }
}
  
@media (max-width: 700px){
    .title-eng {
        margin-top: 5px !important;
        font-size: 25px;
    }
    .title-chi {
        margin-top: 3px !important;
        font-size: 10px;
    }
}

.generalInfo{
    background-image:  url('../../../assets/ChineseInkPaint/Chinese_ink_paint2.jpg') !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.backgroundWhite{
    background-color: rgba($color: white, $alpha: 0.8) !important;
}