<div class="container shadow card button-effect">
    <div class="row">
        <div class="col-3 date vl">

            <div class="event-month text-center">{{date | date:"MMM"}}</div>
            <div class="event-date text-center">{{date | date:"dd"}}</div>
            <div class="event-time text-center">{{date | date:"HH:mm"}}</div>

        </div>
        <div class="col-9 event-details">

            <div class="club-name">{{club}}</div>
            <div class="event-title">{{title}}</div>
            <div class="event-description">{{description}}</div>

        </div>
    </div>
</div>