<div class="container myclass">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12">
        
        <div class="hover01" *ngFor="let imgSource of imgSources; let i = index">
          <figure>
            <img class="myImage" src={{imgSource}} alt="image i"> 
          </figure>
        </div>
      </div>
  
      
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="myTextBox">
          <h1>{{title}}</h1>
          <p *ngFor="let p of article.split('\n')">{{p}}</p >
        </div>
      </div>
    </div>
    <div class="learnMore">
    <button type="button" class="btn btn-info" (click)= "linkFunc()" >Learn More</button>
    </div>
  </div>
  
  
  