<div>
    <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-12">
            <app-carousel></app-carousel>
        </div>

        <div class="col-lg-5 col-md-5 col-sm-12 colboard overflow-auto scrollbar style-scrollbar boxShadow">
            <div class="newsBoard ">
                <div class="newsChunck"  id="firstNews">news
                    <div class="subDiv" id="firstNewsChild">
                        brief description
                    </div>
                </div>
                <div class="newsChunck" (mouseover)="handleMouseHover()" (mouseleave)="handleMouseLeave()">news
                    <div class="subDiv">
                        brief description
                    </div>
                </div>
                <div class="newsChunck" (mouseover)="handleMouseHover()" (mouseleave)="handleMouseLeave()">news
                    <div class="subDiv">
                        brief description
                    </div>
                </div>
                <div class="newsChunck" (mouseover)="handleMouseHover()" (mouseleave)="handleMouseLeave()">news
                    <div class="subDiv">
                        brief description
                    </div>
                </div>
                <div class="newsChunck" (mouseover)="handleMouseHover()" (mouseleave)="handleMouseLeave()">news
                    <div class="subDiv">
                        brief description
                    </div>
                </div>
                <div class="newsChunck" (mouseover)="handleMouseHover()" (mouseleave)="handleMouseLeave()">news
                    <div class="subDiv">
                        brief description
                    </div>
                </div>
                <div class="newsChunck" (mouseover)="handleMouseHover()" (mouseleave)="handleMouseLeave()">news
                    <div class="subDiv">
                        brief description
                    </div>
                </div>
                <div class="newsChunck" (mouseover)="handleMouseHover()" (mouseleave)="handleMouseLeave()">news
                    <div class="subDiv">
                        brief description
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
</div>