<div class="myEditor">
  <h1>Page Content Editting</h1>
  <div class="row">
    <div class="col-4">
      <select id="elementSelection" class="form-control">
        <option value="" disabled selected>Select the element</option>
        <option *ngFor="let element of elementSelection">{{element}}</option>
      </select>
    </div>
    <div class="col-4">
      <select id="pageSelection" class="form-control">
        <option value="" disabled selected>Select the Page</option>
        <option *ngFor="let page of pageSelection">{{page}}</option>
      </select>
    </div>
    <div class="col-4">
      <select id="editOptionSelection" class="form-control">
        <option value="" disabled selected>Select the editing option</option>
        <option *ngFor="let editOption of editOptionSelection">{{editOption}}</option>
      </select>
    </div>
  </div>

  <!-- Drop Down Selection for id/title-->
  <div *ngIf="renderNgIf; then thenBlock else elseBlock"></div>
  <ng-template #thenBlock>
    <br />
    <div class="row">
      <div class="col-4">
        <select id="idOrTitleSelection" class="form-control">
          <option value="" disabled selected>Select the id or title</option>
          <option *ngFor="let idOrTitle of idOrTitleSelection">{{idOrTitle}}</option>
        </select>
      </div>
    </div>
  </ng-template>
  <ng-template #elseBlock></ng-template>

  <button type="button" class="btn btn-info" (click)="onSelect()">Select</button>
  <br /><br />

  <!-- Input Group For Arricle/File Edition-->
  <div *ngIf="renderInputGroup; then thenBlock2 else elseBlock2"></div>
  <ng-template #thenBlock2>
    <div class="row">
      <div class="col-6">
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Title</span>
          </div>
          <input id="title" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
        </div>
      </div>
      <div class="col-6">
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Category</span>
            </div>
            <select id="category" class="form-control">
              <option selected>{{pageSelector}}</option>
              <option *ngFor="let page of pageSelection">{{page}}</option>
            </select>
          </div>
        </div>
      </div>
      <div *ngIf="renderEventInput; then thenBlock5 else elseBlock5"></div>
      <ng-template #thenBlock5>
      <div class="col-6">
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm" >Address</span>
          </div>
          <input id="address" type="text" class="form-control" value="" aria-label="Small"
            aria-describedby="inputGroup-sizing-sm">
        </div>
      </div>
      <div class="col-6">
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Date</span>
          </div>
          <input id="date" type="date" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
        </div>
      </div>
      <div class="col-6">
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Start Time</span>
          </div>
          <input id="time" type="time" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
        </div>
      </div>
      <div class="col-6">
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">End Time</span>
          </div>
          <input id="timeEnd" type="time" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
        </div>
      </div>
    </ng-template>
    <ng-template #elseBlock5></ng-template>
    </div>


    <div class="input-group-text" id="inputGroup-sizing-sm">Edit Content Below</div>
    <ckeditor [editor]="Editor" [data]="info" [(ngModel)]="info"></ckeditor>
    <button type="button" class="btn btn-info" (click)="onSave()" (change)="onChange($event)">Submit</button>
  </ng-template>
  <ng-template #elseBlock2></ng-template>

  <!-- Input File or Edit For Carousel image-->
  <div *ngIf="renderImageEditGroup; then thenBlock3 else elseBlock3"></div>
  <ng-template #thenBlock3>
    <div class="input-group-text" id="inputGroup-sizing-sm">Select Image and Crop It Below</div>
    <div *ngIf="renderAddingNewImage; then thenBlock4 else elseBlock4"></div>
    <ng-template #thenBlock4>
    <input type="file" id="imgUpload"(change)="fileChangeEvent($event)" />

    <image-cropper 
    [imageChangedEvent]="imageChangedEvent" 
    [cropperStaticWidth]="900" 
    [cropperStaticHeight]="430"
    format="png" 
    (imageCropped)="imageCropped($event)" 
    (imageLoaded)="imageLoaded()" 
    (cropperReady)="cropperReady()"
    (loadImageFailed)="loadImageFailed()">
    </image-cropper>

    
    </ng-template>
    <ng-template #elseBlock4>
      <image-cropper 
      imageURL="{{imgEditurl}}"
      [cropperStaticWidth]="900" 
      [cropperStaticHeight]="430"
      format="png" 
      (imageCropped)="imageCropped($event)" 
      (imageLoaded)="imageLoaded()" 
      (cropperReady)="cropperReady()"
      (loadImageFailed)="loadImageFailed()">
    </image-cropper>
    
    </ng-template>
    <button type="button" class="btn btn-info" (click)="onUploadImage()">submit</button>
  </ng-template>
  <ng-template #elseBlock3></ng-template>
</div>

