:host ::ng-deep .ck-editor__editable_inline {
    min-height: 500px;
}

.myEditor{
    text-align: center;
}

.bg-cover {
    width: 1200px;
    height: 300px;
    background: url("../../../assets/Event/36660313_1498203030285902_6030530053798887424_o.jpg") no-repeat center;
    background-size: cover;
    outline: 1px solid red;
  }

  .thumb-post img {
    object-fit: none; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    width: 100%;
    max-height: 250px;
    margin-bottom: 1rem;
  }