.myCard{
    background-color: white !important;
    padding: 10px;
    
}

.textBoard{
    height: 20vh;
	font-size: 15px;
	padding: 10px;
}

.imageBoard{
	height: 20vh;
}

.learnMore{
    text-align: center;
}

figure {
    cursor: pointer;
	background-color: transparent;
	//overflow: hidden;
}

/* Zoom In */
.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.imgFigure{
	overflow: hidden;
}

.hover02 figure .myCard {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover02 figure:hover .myCard {
	-webkit-transform: scale(1.3);
	transform: scale(1.05);
}