<div class="hover02"><figure>
<div class="myCard boxShadow">
  <h2>Title</h2>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="textBoard overflow-auto style-scrollbar">
        A school is an educational institution designed to provide learning spaces and learning environments for the
        teaching of students (or "pupils") under the direction of teachers.
        Most countries have systems of formal education, 
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="hover01">
        <figure class="imageBoard imgFigure">
          <img class="d-block w-100 h-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="image">
        </figure>
      </div>
    </div>
  </div>
  <br />
  <div class="learnMore">
    <button type="button" class="btn btn-info">Learn More</button>
  </div>
</div>
</figure></div>
