<app-carousel [imgSources]="carouselImgSources"></app-carousel>
<br />
<h1>Latest News</h1>

<br />

<div class="row latestNews">
  <div class="col-lg-4 col-md-6 col-sm-12">
    <app-event-card [eventName]="eventCards[0].eventName" [month]="eventCards[0].month" [date]="eventCards[0].date"
      [time]="eventCards[0].time" [imgSource]="eventCards[0].imgSource"></app-event-card>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12">
    <app-event-card [eventName]="eventCards[1].eventName" [month]="eventCards[1].month" [date]="eventCards[1].date"
      [time]="eventCards[1].time" [imgSource]="eventCards[1].imgSource"></app-event-card>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12">
    <app-event-card [eventName]="eventCards[2].eventName" [month]="eventCards[2].month" [date]="eventCards[2].date"
      [time]="eventCards[2].time" [imgSource]="eventCards[2].imgSource"></app-event-card>
  </div>
</div>
<br />
<div class="generalInfo">
  <br />
  <h1>Title</h1>
  <br />
  <app-dividing-line></app-dividing-line>
  <br /><br />
  <app-info-chuck [title]="infoChucks[0].title" [article]="infoChucks[0].article" [imgSource]="infoChucks[0].imgSource">
  </app-info-chuck>
  <br /><br />
  <app-dividing-line></app-dividing-line>
  <br /><br />
  <app-info-chuck-reverse [title]="infoChucks[1].title" [article]="infoChucks[1].article"
    [imgSource]="infoChucks[1].imgSource"></app-info-chuck-reverse>
  <br /><br />
  <app-dividing-line></app-dividing-line>
  <br /><br />
</div>
