/*
.generalInfo{
    background-color:rgb(235, 230, 230) !important;
}
*/


.generalInfo{
    background-color: rgba($color: white, $alpha: 0.5);
    font-size: large;
}


.onlyForBackGround{
    background-image:  url('../../../assets/ChineseInkPaint/Chinese_ink_paint2.jpg') !important;
    //url('../../../assets/izone\ Wizard.jpg') !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
