agm-map {
  height: 300px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#map{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#info {
  text-align: center;
}

/*
.d-none d-lg-block{
  margin: auto;
  width: 60% !important;
  border: 3px solid #73AD21;
  padding: 10px;
}

*/