<div class="container headerEditor">
  <h1>Header Editting</h1>
  <div class="row">
    <div class="col-4">
      <select id="editOptionSelection2" class="form-control">
        <option value="" disabled selected>Select the editing option</option>
        <option *ngFor="let editOption of editOptionSelection">{{editOption}}</option>
      </select>
    </div>
    <div class="col-4">
      <select id="parentSelection" class="form-control">
        <option value="" disabled selected>Select the parent</option>
        <option *ngFor="let parent of parentSelection">{{parent}}</option>
      </select>
    </div>
    <div *ngIf="renderElementSelection; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
    <div class="col-4">
        <select id="elementSelection2" class="form-control">
          <option value="" disabled selected>Select the element</option>
          <option *ngFor="let element of elementSelection">{{element}}</option>
        </select>
    </div>
    </ng-template>
    <ng-template #elseBlock></ng-template>
  </div>
  <br />
  <button type="button" class="btn btn-info" (click)="onSelect()">Select</button>
</div>
