<div class="generalInfo">
    <br /><br />
    <app-dividing-line></app-dividing-line>
    <br /><br />
    <app-info-chuck [title]="infoChucks[0].title" [article]="infoChucks[0].article" [imgSource]="infoChucks[0].imgSource"></app-info-chuck>
    <br /><br />
    <app-dividing-line></app-dividing-line>
    <br /><br />
    <app-info-chuck-reverse [title]="infoChucks[1].title" [article]="infoChucks[1].article" [imgSource]="infoChucks[1].imgSource"></app-info-chuck-reverse>
    <br /><br />
    <app-dividing-line></app-dividing-line>
    <br /><br />
    <app-info-chuck [title]="infoChucks[2].title" [article]="infoChucks[2].article" [imgSource]="infoChucks[2].imgSource"></app-info-chuck>
    <br /><br />
    <app-dividing-line></app-dividing-line>
    <br /><br />
    <app-info-chuck-reverse [title]="infoChucks[3].title" [article]="infoChucks[3].article" [imgSource]="infoChucks[3].imgSource"></app-info-chuck-reverse>
    <br /><br />
    <app-dividing-line></app-dividing-line>
    <br /><br />
  </div>